.products {
    @include flex(flex, column, center, center);
    min-height: 100vh;
    padding: 3rem 0 5rem;
    @media (min-width: 880px) {
        padding: 0;
    }
    h1 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 3rem;
        @media (min-width: 880px) {
            font-size: 3.6rem;
        }
    }
    &__container {
        max-width: 100%;
        margin: 0 auto;
        @include flex(flex, row, center, center);
        gap: 8rem;
        flex-wrap: wrap;
    }
    &__item_wrapper {
        position: relative;
        @include flex(flex, column, center, center);
    }
    &__item {
        border-radius: 10px;
        background-image: linear-gradient(135deg, transparent 5%, $productDefaultBorder 5% 95%);
        padding: 20px;
        z-index: 0;
        position: relative;
        height: 48rem;
        
        &:before {
            z-index: -1;
            content: '';
            position: absolute;
            left: 5px;
            right: 5px;
            top: 5px;
            bottom: 5px;
            border-radius: 7px;
            background-image: linear-gradient(135deg, transparent 5%, white 5% 95%);
          }
    
        &-list {
            padding: .5rem 5rem;
        }
        &-name {
            @include fonts-descr(1.6rem, 500, rgb(102, 102, 102));
            line-height: 1.2;
            font-family: "Exo", sans-serif;
        }
        &-title {
            @include fonts-descr(4.8rem, 700, rgb(0, 0, 0));
            line-height: 1.2;
            font-family: "Exo", sans-serif;
        }
        &-descr {
            @include fonts-descr(2.4rem, 700, rgb(0, 0, 0));
            font-family: "Exo";
            line-height: 1.2; 
        }
        &-count {
            @include fonts-descr(1.4rem, 700, rgb(102, 102, 102));
            margin-top: 1rem;
            @media (min-width: 880px) {
                margin-top: 3rem;
            }
        }
        &-bonus {
            @include fonts-descr(1.4rem, 700, rgb(102, 102, 102));
        }
        &-img {
            position: absolute;
            bottom: .5rem;
            left: .5rem;
            /*margin-bottom: -1.7rem;
            margin-left: -1.5rem;*/
        }
        &-weight {
            display:block;
            height: 51px;
            width: 51px;
            background-color: $backColorWeight;
            border-radius: 50%;  
            position:absolute;
            bottom: 1.5rem;
            right: 1.5rem;
            text-align:center;
            @media (min-width: 880px) {
                height: 81px;
                width: 81px;
                .weight {
                    @include fonts-descr(4.2rem, 700);
                }
                .weight-unit {
                    @include fonts-descr(1.5rem, 700);
                }
            }

            .weight {
                @include fonts-descr(2.5rem, 700);
            }
            .weight-unit {
                @include fonts-descr(1rem, 700);
            }
        }
        /* packing size  */
        .big {
            margin-bottom: 1rem;
        }
        .medium {
            margin-bottom: 2.5rem;
        }
        /*-------------*/
        &-offer {
            @include fonts-descr(1.3rem);
            position: absolute;
            bottom: -2.5rem;
            line-height: 1.2;
            text-align: center;

            strong {
                color: #0e74a7;
                font-weight: bolder;
                text-decoration: underline dashed;
                cursor: pointer;
            }
        } 
    }
}
//цвет текста названия карточки товара, после того, 
//как курсор ушел с нее после первоначального выбора

.colorCardName {
    color: $colorCardName;
}

