.disabled {
    background-image: linear-gradient(135deg, transparent 5%, #B3B3B3 5% 95%);
    opacity: 1;
    .products__item-weight{
        background-color: #B3B3B3;
    }
    .products__item-offer {
        color: #ffff66;
    }
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        left: 0;
        top: 0;
        opacity: 0.3;
    }
}
.active {
    background-image: linear-gradient(135deg, transparent 5%, #E52E7A 5% 95%);
    .products__item-weight{
        background-color: #E52E7A;
    }
}
